body {
    overflow-x: hidden;
}
h1{
    font-family: 'Orbitron';
    text-align: center;
}

.boxes .uni-box-text {
    position: relative;
    height: 17rem;
    margin: auto;
    overflow: hidden;
}
/* Portrait Phone */

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {

    .boxes .uni-box-text {
        
        height: 21rem;
        margin: auto;
        overflow: hidden;
    }


}

/*Landscape */
@media only screen

and (min-device-width: 375px)

and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {
    .grid-wrapper{
        max-width: 720px;
    }
    h2{
        font-size: 1.5rem;
    }
    .boxes .uni-box-text {
        position: relative;
        height: 21.5rem;
        margin: auto;
        overflow: hidden;
    }
} 