:root {
    
    font-size: 12px;
    background-color: black;
    color: white;
}
.waveAnimationSlow{
    animation: 20s shake-slow infinite alternate; 
  }
  
@keyframes shake-slow {
0% { transform: skewY(0.75deg); }
30% {transform: scale(1.05)}
50% { transform: skewX(-2deg)}  
80% { transform: scale(1.05)}
100% { transform: skewY(-0.75deg); }  
}

.header {
    text-align: center;
    font-family:'Orbitron'
}
.grid-wrapper {
    max-width: 1100px;
    margin: auto;
}


.grid-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem
}

h2 {
    font-size: 2rem;
}
.boxes {
    border: solid 0.2rem #A444E4;
    border-radius: 5px;
    font-size: 13rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-family:'Orbitron';
    transition: all 0.4s;
}

.boxes:hover {
    background-color: #A444E4;
    transition: all 1s;
    font-size: 1rem;
}
.boxes p{
    display: none;
    font-size: 1rem;
}
.boxes:hover p{
    display: block
}