:root {
    font-size: 12px;
    color: white;
}

html, body {
    max-width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}
.waveAnimationSlow{
    animation: 20s shake-slow infinite alternate; 
  }
  
@keyframes shake-slow {
0% { transform: skewY(0.75deg); }
30% {transform: scale(1.05)}
50% { transform: skewX(-2deg)}  
80% { transform: scale(1.05)}
100% { transform: skewY(-0.75deg); }  
}

.header {
    text-align: center;
    font-family:'Orbitron'
}
.grid-wrapper {
    max-width: 1250px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
}


.grid-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
}
.boxes {
    border: solid 0.2rem #A444E4;
    border-radius: 5px;
    font-size: 12rem;
    text-align: center;
    font-family:'Orbitron';
    transition: all 0.8s;
    overflow:hidden;
    background-color: black;
}

.boxes:hover {
    background-color: black;
    transition: all 0.8s;
    font-size: 1rem;
    text-align: center;
    transform: scale(1.02);

}

.boxes .box-text {
    position: relative;
    height: 17rem;
    margin: auto;
    overflow: hidden;
    padding: 0 0.8rem;
}
.boxes p{
    display: none;
    font-size: 0rem;
    opacity: 0;
}
.boxes:hover p{
    display: block;
    font-size: 1rem;
    opacity: 1;
    transition: all 1s;
}
.boxes button {
    display: none;
    font-size: 0rem;
    text-align: center;
    margin: auto;
    opacity: 0;
    border-radius: 5px;
    color:black;
}
.boxes:hover button {
    display: block;
    font-size: 1rem;
    padding:0.8rem 1rem;
    opacity: 1;
    transition: all 2s;
    background-color:#00A3A3;
    font-family:'Orbitron';
}
.boxes:hover button:hover{
    background-color: #FFF;
}
#AboutMe {
    display: block;
    font-size: 9rem;
    height: 16rem;
    padding: 1rem;
}
#AboutMe:hover {
    font-size: 1rem;
    transform: scale(1);
    transition: all 1s;
}

/* Portrait Phone */

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
    .grid-wrapper {
        margin: auto;
        display: block;
        max-width: 350px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .grid-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .boxes .box-text {
        position: relative;
        height: 18rem;
        margin: auto;
        overflow: hidden;
    }
    .boxes {
        border: solid 0.2rem #A444E4;
        border-radius: 5px;
        font-size: 10rem;
        text-align: center;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        font-family:'Orbitron';
        transition: all 0.8s;
        overflow:hidden;
        background-color: black;
        opacity: 0.9;
    }
    #AboutMe {
        font-size: 10rem;
        height: 16rem;
    }
}

/*Landscape */
@media only screen

and (min-device-width: 375px)

and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {
    .grid-wrapper{
        max-width: 720px;
    }
    h2{
        font-size: 1.5rem;
    }
    .boxes .box-text {
        position: relative;
        height: 18rem;
        margin: auto;
        overflow: hidden;
    }
} 