

.text-wrapper {
    max-width: 1250px;
    margin: auto;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
}
.solar-h2 {
    font-family: 'Genos';
    font-size: 2rem;
}

.list-wrapper {
    margin: auto;
    max-width: fit-content;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Genos';
}
.solar-text {
    font-size: 1.5rem;
    font-family: 'Genos';
}
.solar-img {
    width: 500px;
    width: 640px;
    height: 480px;
    object-fit: cover;
}
.videos {
    border-radius: 5px;
    width: 640px;
    height: 480px;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: rgb(0, 162, 255);
}

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
    .videos {
        width: 100%;
    }
    .solar-img {
        width: 100%;
    }

}

/*Landscape */
@media only screen

and (min-device-width: 375px)

and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {
    .videos {
        height: 350px;
        border-radius: 5px;
    }
    .solar-img {
        height: 350px;
        
    }
}