.spec-h {
    font-family: 'Genos';
    font-size: 2rem;
}

.spec-text {
    font-size: 1.5rem;
    font-family: 'Genos';
}

.spectro-list-wrapper {
    margin: auto;
    max-width: fit-content;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Genos';
}

.spec-img {
    width: 640px;
    height: 480px;
    border-radius: 8px;
}

.spec-img1 {
    width: 640px;
    height: 640px;
    border-radius: 8px;
}

.spec-img2 {
    width: 640px;
    height: 350px;
    border-radius: 8px;
}


@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
    .spec-img1 {
        width: 100%;
        height: 400px;
    }
    .spec-img {
        width: 100%;
        height: 350px;
    }
    .spec-img2 {
        width: 100%;
        height: 200px;
    }

}

/*Landscape */
@media only screen

and (min-device-width: 375px)

and (max-device-width: 900px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {
    .spec-img1 {
        height: 350px;
        border-radius: 5px;
    }
    .spec-img {
        height: 350px;
        
    }
    .spec-img2 {
        height: 350px;
        
    }
}