.spec-h {
    font-family: 'Genos';
    font-size: 2rem;
}

.spec-text {
    font-size: 1.5rem;
    font-family: 'Genos';
}

.spectro-list-wrapper {
    margin: auto;
    max-width: fit-content;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Genos';
}

.spec-img {
    width: 640px;
    height: 480px;
    border-radius: 8px;
}
.spec-img1 {
    width: 640px;
    height: 640px;
    border-radius: 8px;
}
.spec-img1 {
    width: 640px;
    height: 350px;
    border-radius: 8px;
}
