.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.waveAnimationSlow{
  animation: 20s shake-slow infinite alternate; 
}


@keyframes shake-slow {
  0% { transform: skewY(0.75deg); }
  30% {transform: scale(1.05)}
  50% { transform: skewX(-2deg)}  
  80% { transform: scale(1.05)}
  100% { transform: skewY(-0.75deg); }  
}

