body {
  background-image: url('background.jpg');
  background-size:initial;
  text-align: center;
  font-size: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #A444E4;
}
.waveAnimationSlow.homePage-text {
  font-size: '2rem';
  font-family:'Orbitron';
  margin-top: 15%;
  opacity: 1;

}

.waveAnimationSlow{
  animation: 20s shake-slow infinite alternate; 
}

@keyframes shake-slow {
  0% { transform: skewY(0.75deg); }
  30% {transform: scale(1.05)}
  50% { transform: skewX(-2deg)}  
  80% { transform: scale(1.05)}
  100% { transform: skewY(-0.75deg); }  
}

.home-button {
  background-color: black;
  color:white;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.6s;
  border: #A444E4 0.2rem solid;
  font-family: Orbitron;
}
.home-button:hover {
  background-color: #A444E4;
  transition: background-color 0.5s linear;
}

.home-button:active{
  color: #A444E4;
  transition: color 1s linear;
}

body::-webkit-scrollbar{
  width:0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track{
  background: black;
}
body::-webkit-scrollbar-thumb{
  background: #A444E4;
}

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
  header{
    margin-top: 30rem;
    font-size: 1.5rem;
    
  }

}